* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2b2a2a;
}

body {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  margin: 0 5rem;
}

/* Main image */
.main-section {
  display: flex;
  background-color: #e7e7ea;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4rem;
}

#main-image {
  width: 50vw;
  height: 100vh;
  object-fit: cover; 
}

#main-image-description {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.title-row {
  display: flex;
  justify-content: center;
  gap: 10px
}


#main-image-description h1 {
  color: #000;
  font-size: 700%;
  font-weight: 300;
}

#main-image-description #title-super {
  font-weight: bolder;
}

#main-image-description p {
  color: #005cff;
  font-size: 150%;
  letter-spacing: .5rem;
  font-weight: 700;
}

#main-image-description h2 {
  color: #005cff;
  font-size: 400%;
  font-weight: 700;
}

/* Releases */
.carousel {
  padding: 6rem;
}

.custom-button {
  min-height: 8px;
  max-width: 8px; /* Define o tamanho do botão */
  border: none; /* Remove borda padrão */
  border-radius: 50%; /* Torna o botão redondo */
  cursor: pointer; /* Adiciona um indicador de clique ao passar o mouse */
}

.arrow-carousel {
  color: #005cff;
  background-color: #fff;
  padding: .4rem;
  border-radius: 50%;
  border: 1px solid #005cff;
}

.card {
  margin: 0 .5rem;
}

/* Description */
.description-section{
  display: flex;
}

.descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

/* localizations */
.localization-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.localization-content {
  text-align: center;
  padding: 0 2rem;
}

.localization-content h1 {
  font-size: x-large;
}

.localization-item {
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.localization-item button {
  border: none;
}




.arrow-up {
  display: none;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/5);
  }
}



